body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#calculator {
  height: 65vh;
  width: 25vw;
  background-color: black;
}

#display, .row {
  height: 25%;
  width: 100%;
  border-bottom: 2px solid black;
}

#buttons-container {
  height: 74.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.row {
  display: flex;
  gap: 5px;
}

.btn, .extra {
  flex-grow: 1;
  width: 25%;
  font-size: x-large;
}

#border {
  border: 15px solid black;
}

#display {
  background-color: #FCF5E5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#display-text {
  font-size: 15vh;
  padding-right: 1vw;
}

#spacer {
  height: 0.5vh;
  width: 100%;
  color: black;
}

.extra {
  background-color: #F47174;
}

.btn {
  background-color: #EEEE9B;
}